@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css");

/* common */

body {
  background: -moz-linear-gradient(top left, #FFF, #FFC778);
  background: -webkit-linear-gradient(top left, #FFF, #FFC778);
  background: linear-gradient(to bottom right, #0b5de7, #043c9e);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial Rounded MT Bold, sans-serif;
  font-size: 16px;
}

#box {
  height: 100vh;
  position: relative;
  width: 100vw;
}

#container {
  height: 400px;
  left: 50%;
  margin: -180px 0px 0px -116px;
  position: absolute;
  top: 50%;
  width: 232px;
}

#title > p {
  font-size: 40px;
  text-align: center;
}

/* h1 {
  font-size: 20px;
  margin: 15px auto;
  text-align: center;
} */

#description {
  font-family: Arial Rounded MT Bold, "Sawarabi Mincho";
  font-size: 12px;
  margin: -10px 0 30px 0;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 15px 0;
}


.font-awesome {
  color: #ccc;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.text_area {
  border: none;
  border-radius: 5px;
  display: inline-block;
  height: 16px;
  padding: 5px;
  width: 222px;
}

.text_area:placeholder-shown {
  font-family: "Poiret One", sans-serif;
}

button {
  border: none;
  background: none;
  color: #fff;
  height: 19px;
  font-family: "Poiret One", sans-serif;
  padding: 0;
}

.button {
  background: #09f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto 15px;
  padding: 7px;
  text-align: center;
  width: 100px;
}

.button:hover {
  opacity: 0.7;
}

#signup {
  margin: 0 auto;
  text-align: center;
}

#signup > a {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

#signup > a:link {
  color: #fff;
}

#signup > a:visited {
  color: #fff;
}

#sns_buttons {
  margin-top: 50px;
  text-align: center;
  width: 232px;
}

#my_tw {
  display: block;
  margin: 4px;
}

#my_fb {
  display: block;
  margin: 4px;
}

#footer {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

#footer > a {
  text-decoration: none;
}

#footer > a:visited {
  color: #fff;
}

#footer > a:link {
  color: #fff;
}

#footer > p {
  margin-top: 5px;
}

.app_store {
  width: 120px !important;
  margin-top: 30px;
  margin-bottom: 12px;
}

@media screen and (max-width:1200px) {
  .app_store {
    display: none !important;
  }
}

/* error message */

.error {
  color: skyblue;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  width: 232px;
}
