@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css");


/* common */

#container {
  width: 232px;
  margin: 30px auto;
  padding-bottom: 20px;
}

@media screen and (max-width:450px) {
  /* 画面サイズが0pxから450pxまではここを読み込む */
  body {
    position: static !important; /* SweetAlert2のiOSブランク背景問題解消用 参考<https://github.com/sweetalert2/sweetalert2/issues/473> */
    background-color: #eee;
    background-image: url("../img/canvas_under450.png");
    /* background-size: cover; */
    background-size: contain; /* 20180327 chg */
  	color: #333;
  	font-family: "Crimson Text", serif, "Sawarabi Mincho";
    font-size: 16px;
  }
}

@media screen and (min-width:451px) {
  body {
    background-color: #eee;
    background-image: url("../img/canvas.jpg");
    /* background-size: cover; */
    background-size: contain; /* 20180327 chg */
    color: #000;
    font-family: "Crimson Text", serif, "Sawarabi Mincho";
    font-size: 16px;
  }
}

h1 {
  float: left;
  font-size: 20px;
  margin: 15px auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 15px 0;
}

span {
  /* background: #75d16a; green */
  /* background: #adff66; light green */
  /* background: #bbff80; light green */
  background: #c2eeff;
  display: inline-block;
  line-height: 1;
  padding: 5px 25px 5px 5px;
  position: relative;
  width: 180px;
  word-wrap: break-word;
}

span:after{
  background: rgba(0,0,0,0.5);
  bottom: 5px;
  box-shadow: 0 4px 3px rgba(0,0,0,0.3);
  content:"";
  display:block;
  /* height: 15px; */
  height: 8px; /* 20180327 chg */
  position: absolute;
  /* right: 0; */
  right: 1px; /* 20180327 chg */
  transform: rotate(2deg);
  /* width: 99%; */
  width: 93%; /* 20180327 chg */
  z-index: -1;
}

.update_sticky_note {
  color: #0dd !important;
  margin: 0px 3px;
  position: absolute;
  bottom: 5px;
  right: 3px;
}

.delete_sticky_note {
  vertical-align: middle;
  margin-bottom: 4px;
}

.box {
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  width: 246px;
}

.font-awesome {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
}

#new_sticky_note_form > .font-awesome {
  display: none;
}

.btn {
  width: 100px;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background: #00aaff;
  box-shadow: 0 3px 0 #0088cc;
  cursor: pointer;
  margin: 0 auto 15px;
}

.btn:hover {
  opacity: 0.5;
}

.signup {
  font-size: 12px;
}

.error {
  color: #ff3d00;
  font-weight: bold;
  font-size: 13px;
}

button {
  background: none;
  border: none;
	font-family: "Crimson Text", serif, "Sawarabi Mincho";
  padding: 0;
}

#new_sticky_note {
  border: none;
  border-radius: 5px;
  display: inline-block;
  height: 16px;
  padding: 5px;
  width: 200px;
}

#new_sticky_note:placeholder-shown {
  font-family: "Crimson Text", serif, "Sawarabi Mincho";
}

#sticky_note_template,
#section_templete {
  display: none;
}

#logout {
  color: #ccc;
  float: right;
  margin-top: 20px;
  margin-right: 2px;
}

.clear {
  clear: both;
}

/* sweet alert 2 */

#swal2-content {
  font-family: serif;
  font-size: 16px;
}

.swal2-textarea {
  font-family: serif;
  font-size: 16px;
}

.swal2-cancel {
  background-color: #efefef;
  font-size: 14px;
}

/* drop menu */

.dropmenu{
  float: right;
  margin-top: 0px;
  margin-right: 0.5px;
}

.dropmenu li{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dropmenu li a{
  color: #000;
  text-decoration: none;
}

.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.dropmenu li ul li{
  opacity: 0.9;
  background: #fff;
  cursor: pointer;
  width: 160px; /* 20180327 chg(MAXの長さが収まるように修正) */
  padding: 3px 0;
}

.dropmenu li ul li button{
  cursor: pointer;
  height: 20px;
  width: 140px;
}

.dropmenu li ul li a{
  width: 140px;
  display: inline-block;
}

.dropmenu li ul li:hover{
  background: #eee;
}

#normal li ul{
  display: none;
}

#normal li:hover ul{
  display: block;
}
