@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css");

/* common */

body {
  background-color: #eee;
  background-image: url("../img/canvas.jpg");
  background-size: cover;
  color: #000;
  font-family: serif, "Sawarabi Mincho", "Poiret One", sans-serif;
  font-size: 16px;
}

#box {
  /* height: 100vh;
  position: relative;
  width: 100vw; */
}

#container {
}

#title > p {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.use_case {
  width: 50%;
  margin: 0 auto;
}

#description {
  font-size: 12px;
  text-align: center;
}

.use_case > .img > img {
  margin-bottom: 20px;
  /* display: inline-block; */
  /* position: relative; */
  width: 100%;
}

.use_case > .img {
  display: inline-block;
  position: relative;
  width: 100%;
}

.use_case > .img:after {
  background: rgba(0,0,0,0.5);
  bottom: 53px;
  box-shadow: 0 30px 4px rgba(0,0,0,0.3);
  content:"";
  display:block;
  height: 30px;
  position: absolute;
  right: 3px;
  transform: rotate(3deg);
  width: 90%;
  z-index: -1;
}
